<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>整体结果展示</title>

<script src="{{ url_for('static',filename='jquery.min.js') }}"></script>

     <link href="{{ url_for('static',filename='dashboard.css') }}" rel="stylesheet">
      <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<div >
     <a class="nav-link" href="/index">
               <div class="btn-group me-lg-2">
                  <button type="button" style="margin-left: 20px;" onclick="javascipt:history.back(-1)" class="btn btn-sm btn-outline-secondary">返回主页</button>
              <div >

              </div>
               </div>
</a>
   <h2 style="text-align: center;vertical-align:middle;margin-bottom: 10px; ">话题：{{title}}</h2>
   <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th style="text-align:center;vertical-align:middle;font-size:12px" scope="col">ID</th>
              <th style="text-align:center;vertical-align:middle;font-size:12px" scope="col">USERNAME</th>
              <th style="text-align:center;vertical-align:middle;font-size:12px" scope="col">USERID</th>
              <th style="text-align:center;vertical-align:middle;font-size:12px" scope="col">TIME</th>
              <th style="text-align:center;vertical-align:middle;font-size:12px" scope="col">LOCATION</th>
              <th style="text-align:center;vertical-align:middle;font-size:12px" scope="col">IPREGION</th>
              <th style="text-align:center;vertical-align:middle;font-size:12px" scope="col">TEXT</th>
                {% if sentiment %}
                   <th style="text-align:center;vertical-align:middle;font-size:12px" scope="col">{{sentiment}}</th>
                {% endif %}
            </tr>
          </thead>


          <tbody id="tablebody">

                 {% for i in data %}
                 <tr>
                    {% for j in i %}
              <td style='text-align:center;vertical-align:middle;font-size:14px;width:100px;height: 120px;'> {{ j|safe }} </td>
                    {% endfor %}
                     </tr>
 {% endfor %}



          </tbody>
        </table>
     <a class="nav-link" href="/index">
               <div class="btn-group me-lg-2">
                  <button type="button" style="margin-left: 20px;" onclick="javascipt:history.back(-1)" class="btn btn-sm btn-outline-secondary">返回主页</button>
              </div>
     </a>
</div>
</body>
</html>
 <script src="{{ url_for('static',filename='bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='dashboard.js') }}"></script>